[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = faith
	email = faithobodo1@gmail.com
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[core]
	atom = --wait
	code = --wait
